:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background: url('../images/pattern-bg-mobile.png');
  background-position: center;
  background-size: cover;
  height: 350px;

}

header h1 {
  color: white;
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding-top: 30px;
}

main {
  width: 100vw;
  height: calc(100vh - 350px);
  position: relative;
}

main div.search-bar input {
  border: none;
  outline: none;
  background: white;
  height: 50px;
  width: 300px;
  border-radius: 10px 0 0 10px;
  padding-left: 15px;

}

main div.search-bar button {
  height: 50px;
  background: #000;
  color: white;
  width: 50px;
  font-size: 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
  font-weight: var(--font-weight-bold);

}


main input:valid {
  font-size: 20px;

}

main input::placeholder {
  color: var(--dark-gray);
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 0;
  width: 100%;
}

div.main-container {
  position: absolute;
  top: -45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 256;
}

main div.inner-container {
  background: white;
  border-radius: 10px;
  /* height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px; */
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;

}

main div.inner-container h2 {
  color: var(--dark-gray);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
}

main div.inner-container p {
  height: 30px;
  min-width: 50px;
  color: var(--very-dark-gray);
  text-transform: capitalize;
  font-weight: var(--font-weight-medium);
  letter-spacing: 2px;
  position: relative;
}



main div#map {
  height: 100%;
  z-index: 1 !important;
}


footer {
  height: 20px;
  position: relative;
  bottom: 20px;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 10px;
  z-index: 265;
  background: #000000b6;
}

footer a {
  color: teal;
}


@media (max-width:749px) {
  div.inner-container {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  div.inner-container p {
    font-size: 25px;
  }

}

@media (min-width: 750px) {
  header {
    background: url('../images/pattern-bg-desktop.png');
    background-position: center;
    background-size: cover;
    height: 350px;

  }

  div.inner-container {
    width: 700px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }

  div.inner-container h2:nth-of-type(2) {
    order: 1;
  }

  div.inner-container h2:nth-of-type(3) {
    order: 2;
  }

  div.inner-container h2:last-of-type {
    order: 3;
  }

  div.inner-container p {
    order: 64;
    font-size: 15px;
  }

  div.main-container {
    top: -25%;
  }

  div.inner-container p:not(:first-of-type)::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -11px;
    border-right: 1px solid var(--dark-gray);
    height: 50px;
  }


}