:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* container style */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    background: url('../images/pattern-bg-mobile.png');
    background-position: center;
    background-size: cover;
    height: 350px;
    z-index: 1;
}

header h1 {
    color: white;
    font-weight: var(--font-weight-bold);
    text-align: center;
    transform: translate(0, 50px);
}

@media (min-width: 750px) {
    header {
        background: url('../images/pattern-bg-desktop.png');
        background-position: center;
        background-size: cover;
        height: 350px;
    }

}

main {
    width: 100vw;
    height: calc(100vh - 350px);
    position: relative;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    transform: translate(0, -250px);
    z-index: 64;
}

.search-bar,
.error-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    flex-direction: row;

}

.error-msg {
    height: 20px;
    margin-bottom: 5px;
}

.error-msg p#error {
    visibility: hidden;
    font-size: 15px;
}

main input {
    border: none;
    outline: none;
    background: white;
    height: 50px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    padding-left: 15px;
}

main button {
    height: 50px;
    background: #000;
    color: white;
    width: 50px;
    font-size: 20px;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    font-weight: var(--font-weight-bold);
}

main input::placeholder {
    color: var(--dark-gray);
    font-size: 10px;
}

main input:valid {
    font-size: 20px;

}

#event-btn{
    cursor: pointer;

}

#error {
    text-align: center;
    text-transform: capitalize;
    color: rgb(255, 102, 0);
}

.parent-info-container {
    height: 0;
    position: relative;
    z-index: 64;
}

.info-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    z-index: 64;
    background: white;
    border-radius: 10px;
    transform: translate(0, -150px);
    box-shadow: 0px 0px 10px 0px gray;
}

.info-container div {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info-container div h2 {
    color: var(--dark-gray);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 5px;
}

.info-container div p {
    height: 30px;
    padding: 2px;
    color: var(--very-dark-gray);
    text-transform: capitalize;
    font-weight: var(--font-weight-medium);
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}


@media (min-width: 992px) {
    .info-container {
        flex-direction: row;
        width: fit-content;
        height: 150px;
        transform: translate(0, -75px);
        gap: 30px;
        width: 900px;
    }

    .info-container div {
        align-items: flex-start;
        position: relative;
    }

    .info-container div p,
    .info-container div h2 {
        text-align: left;
    }

    .info-container div:not(:first-of-type)::before {
        content: '';
        position: absolute;
        left: -11px;
        border-left: 1px solid var(--dark-gray);
        height: 80px;
    }
}

#map {
    height: 100%;
    z-index: 1 !important;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20px;
    z-index: 2;
    color: #000;
    transform: translate(0, -21px);
}